{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% for node in nodes %}
    <entry>
        <title>By {{ node.comment.authorName }} on {{ node.comment.createdAt|date }}</title>
        <author>
            <name>{{ node.comment.authorName }}</name>
        </author>
        <updated>{{ node.comment.createdAt|date("c") }}</updated>
        <link rel="alternate">{{ permalink }}#{{ node.comment.id }}</link>
        <summary>{{ node.comment.body }}</summary>
    </entry>
    {% include "FOSCommentBundle:Comment:listFeed.xml.twig" with {"nodes": node.children, "permalink": permalink} %}
{% endfor %}
