{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="fos_comment_comment_show fos_comment_comment_depth_{{ depth }}" id="{{ comment.id }}">
    <div class="fos_comment_comment_metas">
        By {{ comment.authorName }} - {{ comment.createdAt|date }}
        {% if comment is fos_comment_votable %}
        <button data-url="{{ path("fos_comment_vote_add_up", {"commentId": comment.id}) }}" class="fos_comment_comment_vote">Vote Up</button>
        <button data-url="{{ path("fos_comment_vote_add_down", {"commentId": comment.id}) }}" class="fos_comment_comment_vote">Vote Down</button>
        <div class="fos_comment_comment_score">{{ comment.score }}</div>
        {% endif %}
    </div>
    <div class="fos_comment_comment_body">
        {{ comment.body }}
    </div>
    <div class="fos_comment_comment_reply">
        <button data-url="{{ path('fos_comment_comment_create', {"threadIdentifier": comment.thread.identifier, "parentId": comment.id}) }}" data-name="{{ comment.authorName }}" class="fos_comment_comment_reply_show_form">Reply</button>
    </div>
    <div class="fos_comment_comment_replies">
        {% include "FOSCommentBundle:Comment:tree.html.twig" with { "nodes": children|default([]), "depth": depth + 1, "displayDepth": displayDepth, "sorter": sorter } %}
    </div>
</div>
